*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    position: sticky;
    color: darkslategray;
    flex-wrap: wrap;
}
.center-nav{
    
    flex-basis: 70%;
    
}
.center-nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    
}
.center-nav a{
color: gray; 
text-decoration: none;
}

.center-nav a:hover{
    color: grey;
    text-shadow: 3px 3px 5px gray;
}
.left-nav{
    margin: 0;
    padding: 0;
}

.img-logo{
    width: 10rem;
}

.right-nav{
    border: solid lightblue 1px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(235, 250, 255);
    
}

.right-nav a{
color: rgb(15, 160, 208);
text-decoration: none;
}

.right-nav:hover{
    background-color: rgb(218, 246, 255);
}

.container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 3%;
}

.section1{
line-height: 3.4rem;
 color: gray;
 font-size: 2.8rem;
}

.section2{
    color: rgb(13, 175, 229);
    font-size: 2.8rem;
}

.left p{
    font-size: 1.4rem;
    color: rgb(180, 180, 180);
    margin-top: 10px;
}

.left a{
    text-decoration: none;
    font-size: 1.5rem;
    background-color: rgb(13, 175, 229);
    padding: 20px;
    border: solid rgb(13, 175, 229) 1px;
    border-radius: 20px;
    color: white;
}

.left a:hover{
    background-color: rgb(12, 169, 221);
}

.button{
    margin-top: 80px;
    text-shadow: 3px 3px 5px gray;
    display: inline-block;
}
.right img{
    width: 45vw;
}

@media(max-width: 1024px)
{
   .right-nav{
    display: none;
   }
   .center-nav ul{
    gap: 20px;
   }
   .nav{
    font-size: 1.1rem;
    justify-content: space-around;
    flex-flow: row;
   }
   .img-logo{
    width: 3.5rem;
   }
   .container{
    flex-direction: column;
    /* align-items: end; */
    justify-content: start;
   }
   .section1{
line-height: 2rem;
 font-size: 1.5rem;
}
.section2{
    font-size: 1.5rem;
}
.left p{
    font-size: 0.75rem;
}
.left a{
    font-size: .75rem;
}
.right{
    margin-top: 40%;
}
.right img{
    width: 100vw;
}
}